@media (prefers-color-scheme: dark)
{
    :root
    {
        --bgcolor: linear-gradient(red,pink,purple);
        --textcolor: white;
        --navheight: 5vh;
    }
}

@media (prefers-color-scheme: light)
{
    :root
    {
        --bgcolor: red;
        --textcolor: black;
        --navheight: 5vh;
    }
}

body
{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

/* body *
{
    border: 1px solid black;
} */

div
{
    height: 100vh;
    border-radius: inherit;
    background: url("https://static.toiimg.com/thumb/msid-70066919,width-1200,height-900,resizemode-4/.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.wrapper a
{
    text-decoration: none;
    color: inherit;
    border-radius: 20px;
    width: 33vw;
}

.column
{
    height: 100vh;
    border-radius: inherit;
    transition: background 500ms;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.column:hover
{
    background: rgba(0,0,0,0.5);
}

nav
{
    display: grid;
    grid-template-columns: 33% auto 33%;
    border-radius: 100px;
    overflow:hidden;
}

nav a
{
    padding: 1vh;
    color: inherit;
    text-align:center;
    text-decoration: none;
    border-radius: 100px;
}

nav a:hover
{
    transition-duration: 1000ms;
    color: black;
}